 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1228px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 13px auto 0 -105px;
}

.u-section-1 .u-text-1 {
  width: 783px;
  margin: 139px auto 0;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.u-section-1 .u-accordion-1 {
  width: 800px;
  margin: 68px auto 60px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 165px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-2 {
  margin: 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 165px;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0px;
  margin: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 296px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: 20px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 177px;
  height: 177px;
  background-image: url("/images/15829593.jpg");
  background-position: 50% 50%;
  margin: 22px auto 0 30px;
}

.u-section-1 .u-image-2 {
  width: 177px;
  height: 177px;
  background-image: url("/images/na-gfml-se-ena-zlata-maturantka_8654303052.jpg");
  background-position: 50% 50%;
  margin: -177px auto 0 297px;
}

.u-section-1 .u-image-3 {
  width: 177px;
  height: 177px;
  background-image: url("/images/thumb_znani-so-tudi-rezultati-gimnazijske-mature-spomladanskega-roka-na-gfml_19906842072.jpg");
  background-position: 50% 50%;
  margin: -177px 81px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 163px;
  }
}