 .u-section-1 {
  background-image: url("/images/sculpture_bw_work_of_art_124099_3840x2400.jpg");
  background-position: 50% 50%;
  min-height: 1373px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 107px auto 0 calc(((100% - 1140px) / 2) + 398px);
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  width: 560px;
  font-weight: normal;
  margin: 3px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 615px;
  width: 577px;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + 263px);
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

html, body {margin: 0; height: 100%; overflow: hidden}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 0.875rem;
  margin: 9px auto 60px calc(((100% - 1140px) / 2) + 500px);
  padding: 2px 12px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1132px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 328px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 314px);
    width: 532px;
  }

  .u-section-1 .u-gallery-1 {
    margin-left: calc(((100% - 940px) / 2) + 263px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 300px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 867px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 251px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 241px);
  }

  .u-section-1 .u-gallery-1 {
    margin-left: calc(((100% - 720px) / 2) + 143px);
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 80px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 650px;
  }

  .u-section-1 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 188px);
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 181px);
  }

  .u-section-1 .u-gallery-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 917px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 66px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    font-weight: 400;
    width: 293px;
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-gallery-1 {
    width: 328px;
    height: 377px;
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 5px;
    margin-right: calc(((100% - 340px) / 2) + 115px);
    margin-left: auto;
  }
}
